
<div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
<!-- SideNav slide-out button -->
<div class="logo">
    <div class="row">
        <div class="logo-img">
            <img src="/assets/img/logo-esngirona.png"/>
        </div>
        <span class="simple-text">ESN Girona</span>
        <a type="button" style="background-color:transparent;" class="navbar-toggle" data-toggle="collapse" (click)="sidebarClose()">
            <span class="sr-only">Toggle navigation</span>
            <i style="width:20px;" class="fa fa-bars prefix grey-text"></i>
        </a>
    </div>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}" style="width:100%;">
                <a style="width:88%; padding: 10px;" class="btn-group"  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
