<div class="main-content" style="background-size: auto 900px;background-image: url('../../../assets/img/img4.jpg')">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Nuevo Socio</h4>
                    <p class="category">Completa tu perfil</p>
                </div>
                <div class="card-content">
                    <form #newMemberForm="ngForm" (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="col-md-6 md-form form-sm">
                                <mat-form-field>
                                  <input matInput placeholder="Nombre"
                                  name="name" #name="ngModel" [(ngModel)]="member.name" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 md-form form-sm">
                                <mat-form-field>
                                  <input matInput placeholder="Apellidos"
                                  name="surname" #surname="ngModel" [(ngModel)]="member.surname" required>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 md-form form-sm">
                                <mat-form-field>
                                  <input matInput placeholder="Correo electrónico"
                                  name="email" #email="ngModel" [(ngModel)]="member.email" required>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 md-form form-sm">
                                <mat-form-field class="example-full-width">
                                  <mat-placeholder #MyInput class="control-label">Fecha de nacimiento</mat-placeholder>
                                  <input matInput [matDatepicker]="picker"
                                  name="birth" #birth="ngModel" [(ngModel)]="member.birth" required/>
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker touchUi="true" #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 md-form form-sm">
                                <mat-form-field>
                                  <mat-select class="mat-select" placeholder="Género"
                                  name="gender" #gender="ngModel" [(ngModel)]="member.gender" required>
                                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                      {{ gender.viewValue }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 md-form form-sm">
                                <mat-form-field>
                                  <input matInput placeholder="Nº ESNcard"
                                  name="numberesncard" #numberesncard="ngModel" [(ngModel)]="member.numberesncard" required>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">

                            <div *ngIf="is_edit && member.image">
                              <div class="image_for_edit">
                                <img src="{{ url + 'get-image-member/' + member.image }}"/>
                              </div>
                            </div>

                            <br>
                            <div class="col-md-12" style="padding-left: 15px; margin-top: 15px;">
                              <input type="file" id="file" style="display:none;"
                               (change)="fileChangeEvent($event)" />
                              <label style="color:#fb8c00;" for="file">
                                <fa name="upload"></fa>
                                <span style="margin-left: 10px;">Subir imagen de perfil</span>
                              </label>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 md-form form-sm">
                                <div class="form-group form-black label-floating is-empty">
                                    <textarea mdbActive type="text" class="form-control md-textarea"  name="comments" #comments="ngModel" [(ngModel)]="member.comments" rows="5"></textarea>
                                    <label class="control-label">Comentarios, alergias, intolerancias, etc.</label>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <mat-checkbox
                                name="conditions" #conditions="ngModel" [(ngModel)]="member.conditions" required>
                                    Acepto las condiciones de uso
                                </mat-checkbox>
                            </div>


                        </div>


                        <button type="submit" class="btn btn-danger pull-right" data-background-color="orange" [disabled]="!newMemberForm.form.valid">Registrar Usuario</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



</div>
