
<div class="col-lg-12 margin-top green">
<!--<h3>{{title}}</h3>-->

  <!--/col-->
  <div class="col-lg-8 offset-lg-2 col-md-12 margin-top padding-bottom">
    <span class="anchor" id="newEventForm"></span>


    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Añadir un nuevo evento</h3>
        </div>

        <div class="card-block">

          <form #newEventForm="ngForm" (ngSubmit)="onSubmit()">


          <div class="row">

              <span class="input input--jiro">
                <input class="input__field input__field--jiro" type="text"
                name="name" #name="ngModel" [(ngModel)]="event.name" required/>
                <label class="input__label input__label--jiro" for="name">
                  <span class="input__label-content input__label-content--jiro">

                    <span class="required" *ngIf="!name.valid && name.touched">
                      El
                    </span>
                    Nombre del evento
                    <span class="required" *ngIf="!name.valid && name.touched">
                      es obligatorio
                    </span>

                  </span>
                </label>
              </span>

              <span class="input input--jiro">
                <input class="input__field input__field--jiro" type="text"
                name="places" #places="ngModel" [(ngModel)]="event.places" required/>
                <label class="input__label input__label--jiro" for="places">
                  <span class="input__label-content input__label-content--jiro">

                    <span class="required" *ngIf="!places.valid && places.touched">
                      El
                    </span>
                    Número máximo de plazas
                    <span class="required" *ngIf="!places.valid && places.touched">
                      es obligatorio
                    </span>

                  </span>
                </label>
              </span>



          </div>

          <div class="row">

            <span class="input input--jiro">

              <input class="input__field input__field--jiro" type="text"
              name="initial_date" #initial_date="ngModel" [(ngModel)]="event.initial_date" required/>

              <label class="input__label input__label--jiro" for="initial_date">
                <span class="input__label-content input__label-content--jiro">

                <span class="required" *ngIf="!initial_date.valid && initial_date.touched">
                  El
                </span>
                  Día inicial del evento
                  <span class="required" *ngIf="!initial_date.valid && initial_date.touched">
                  es obligatorio
                  </span>
                </span>
              </label>

            </span>

            <span class="input input--jiro">

                <input class="input__field input__field--jiro" type="text"
                name="expiration_date" #expiration_date="ngModel" [(ngModel)]="event.expiration_date" required/>

                <label class="input__label input__label--jiro" for="expiration_date">
                  <span class="input__label-content input__label-content--jiro">

                  <span class="required" *ngIf="!expiration_date.valid && expiration_date.touched">
                    La
                  </span>
                    Día final del evento
                    <span class="required" *ngIf="!expiration_date.valid && expiration_date.touched">
                      es obligatoria
                    </span>
                  </span>
                </label>

            </span>

          </div>

          <div class="row">

              <span class="input input--jiro">

                <input class="input__field input__field--jiro" type="text"
                name="price_esncard" #price_esncard="ngModel" [(ngModel)]="event.price_esncard" required/>

                <label class="input__label input__label--jiro" for="price_esncard">
                  <span class="input__label-content input__label-content--jiro">

                  <span class="required" *ngIf="!price_esncard.valid && price_esncard.touched">
                    El
                  </span>
                    Precio con ESNcard
                    <span class="required" *ngIf="!price_esncard.valid && price_esncard.touched">
                      es obligatorio
                    </span>
                  </span>
                </label>

              </span>


            <span class="input input--jiro">

              <input class="input__field input__field--jiro" type="text"
              name="price_no_esncard" #price_no_esncard="ngModel" [(ngModel)]="event.price_no_esncard" required/>

              <label class="input__label input__label--jiro" for="price_no_esncard">
                <span class="input__label-content input__label-content--jiro">

                <span class="required" *ngIf="!price_no_esncard.valid && price_no_esncard.touched">
                  El
                </span>
                  Precio sin ESNcard
                  <span class="required" *ngIf="!price_no_esncard.valid && price_no_esncard.touched">
                    es obligatorio
                  </span>
                </span>
              </label>

            </span>

          </div>

            <!--<p>
              <label>Comentarios, alergias, intolerancias, etc.</label>
              <textarea name="comments" #comments="ngModel" [(ngModel)]="member.comments" class="form-control" required></textarea>
            </p>-->

            <div class="row">
              <div class="col-lg-3">
                <input type="submit" [disabled]="!newEventForm.form.valid" id="submit" class="inputfile inputfile-2"/>

                <label for="submit">
                  <fa name="plus"></fa>
                  <span style="margin-left: 10px;">Crear Evento</span>
                </label>
              </div>

              <div class="col-lg-6 alert alert-success" *ngIf="status == 'success'">
                Has creado el evento correctamente
              </div>

              <div class="col-lg-6 alert alert-danger" *ngIf="status == 'error'">
                Error en crear el evento
              </div>

            </div>

            <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!newEventForm.form.valid"/>

          </form>

        </div>
    </div>

  </div>
</div>
