<div class="main-content" style="background-size: auto 900px;background-image: url('../../../assets/img/img4.jpg')">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-lg-1">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Editar contenido de {{ user.name }} {{ user.surname }}</h4>
                    <p class="category">Completa el perfil</p>
                </div>
                <div class="card-content">
                    <form #formUserEditForm="ngForm" (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="col-md-6 md-form form-sm">
                                <div class="form-group form-black label-floating is-empty">
                                    <input mdbActive type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required/>
                                    <label class="control-label">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6 md-form form-sm">
                                <div class="form-group form-black label-floating is-empty">
                                    <input mdbActive type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required/>
                                    <label class="control-label">Apellidos</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 md-form form-sm">
                                <div class="form-group form-black label-floating is-empty">
                                    <input mdbActive type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required/>
                                    <label class="control-label">Correo electrónico</label>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div *ngIf="is_edit && user.image">
                              <div class="image_for_edit">
                                <img src="{{ url + 'get-image-user/' + user.image }}"/>
                              </div>
                            </div>

                            <br>
                            <div class="col-md-12" style="padding-left: 15px; margin-top: 15px;">
                              <input type="file" id="file" style="display:none;"
                               (change)="fileChangeEvent($event)" />
                              <label style="color:#fb8c00;" for="file">
                                <fa name="upload"></fa>
                                <span style="margin-left: 10px;">Subir imagen de perfil</span>
                              </label>
                            </div>

                        </div>


                        <button type="submit" class="btn btn-danger pull-right" data-background-color="orange">Actualizar Información</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



</div>
