<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand">{{getTitle()}}</a>

            <button type="button" style="background-color:transparent;" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <i style="width:20px;" class="fa fa-bars prefix grey-text"></i>
            </button>
            <a *ngIf="identity" class="navbar-item" (click)="logout()">
                Salir
            </a>
            <a [routerLink]="['/mis-datos']" *ngIf="identity" class="navbar-item" style="border-right: 1px solid #bdbdbd;">
                Mis Datos
            </a>
            <div *ngIf="identity" class="navbar-item" style="border-right: 1px solid #bdbdbd;">
                {{identity.name}} {{identity.surname}}
            </div>


                <div *ngIf="!identity" class="navbar-item-lr">
                    <a [routerLink]="['/register']" class="navbar-login navbar-register"> Registrar-se</a>
                    <a [routerLink]="['/login']" class="navbar-login">Iniciar sesión /&nbsp;</a>
                </div>


        </div>

    </div>
</nav>
